*{
    margin:0;
    padding: 0;
}
.saju{
    width: 100%;
    height: 71px;
    background-color: rgb(136, 116, 116);
    color: rgb(205, 221, 194);
   text-align: center;
   justify-content: center;
}